.community-board {
    padding: 30px;
    border: solid green 5px;
    min-height: 80vh;
    text-align: center;    
}

.community-board h2 {
    border: 2px solid black; 
    border-radius: 20px;
    background-color: #1c681f;
    color: white;
    display: inline-block;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 0px;
}

.post-form {
    text-align: center;
    display: flex;
    align-items: center; /* Align items vertically centered */
    gap: 10px;        
}

.post-form textarea {
    width: 75%; 
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 16px;
    resize: none; 
    outline: none;
    height: 40px; 
}

.post-form button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50; 
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.post-form button:hover {
    background-color: #45a049;
}
